	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/03/2018 07:50
  	*/

@font-face {
  font-family: "Flaticon-green";
  src: url("./Flaticon-green.eot");
  src: url("./Flaticon-green.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon-green.woff") format("woff"),
       url("./Flaticon-green.ttf") format("truetype"),
       url("./Flaticon-green.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon-green";
    src: url("./Flaticon-green.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-green-"]:before, [class*=" flaticon-green-"]:before,
[class^="flaticon-green-"]:after, [class*=" flaticon-green-"]:after {   
  font-family: Flaticon-green;
font-style: normal;
}

.flaticon-green-interface:before { content: "\f100"; }
.flaticon-green-document:before { content: "\f101"; }
.flaticon-green-book:before { content: "\f102"; }
.flaticon-green-science:before { content: "\f103"; }
.flaticon-green-transport:before { content: "\f104"; }
.flaticon-green-diploma:before { content: "\f105"; }
.flaticon-green-flasks:before { content: "\f106"; }
.flaticon-green-college-graduation:before { content: "\f107"; }
.flaticon-green-wallet:before { content: "\f108"; }
.flaticon-green-secure-shield:before { content: "\f109"; }
.flaticon-green-shipped:before { content: "\f10a"; }
.flaticon-green-shopping-cart:before { content: "\f10b"; }
.flaticon-green-headphone:before { content: "\f10c"; }
.flaticon-green-internet:before { content: "\f10d"; }
.flaticon-green-heart:before { content: "\f10e"; }
.flaticon-green-profile:before { content: "\f10f"; }
.flaticon-green-next:before { content: "\f110"; }